body{
	position:relative;
	font-family:Cabin-Regular,verdana,serif ;
}
img{
	height: auto;
}
.fix-navbar{
	background: #17234F;
}
a:link{
	color:white;
	text-decoration: none;
}
.nav> li> a, .nav >li > a:hover, .nav > li >a:focus{
	background:#17234F;
	color:white;
}
.nav >li > a:hover{
	background: rgba(0,0,0,.2);
}
.nav .open> a, .nav .open > a:focus, .nav .open > a:hover, .nav .open>a:active,  .nav .open>a:visited{
	background: #002051;
	color: white;
}
.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active{
	background: #ffffff;
	color: black;
}
.navbar-header button{
	background: #17234F;
}
.navbar-header button>span{
	background: #002051;
}
#banner {
	//background:#002051;
}
#center-header{
}
#banner button{
	background: #0F66A6;
	color:white;
	height:50px;
	margin-left:15px;
}
#center-header #center-logo{
	margin-left:5%;
}
#center-header #subs-btn{
	padding-right: 2%;
	margin-top: 3%;
	margin-bottom:7%;
}

#subjects{
	//background-image: url("../background-subjects.png");
	position:relative;
	overflow: hidden;
	padding-top:4%;
}
#thht-body, #xstk-body{
	//background:#002051;
	padding:0;
	padding-top:4%;
	padding-bottom:6%;
	margin:0;
}
#thht{
	background:#27906A;
}
#xstk{
	background:#3A5FAC;
}
#thht button{
	background:white;
	height:50px;
	width:250px;
	color:#27906A;
	font-size:120%;
}
#thht button:hover{
	width:275px;
	font-size:130%;
}

#xstk button{
	background:white;
	height:50px;
	width:250px;
	font-size:120%;
	color:#3A5FAC;
}
#xstk button:hover{
	width:275px;
	font-size:130%;
}

.start-position{
	position:relative;
	padding-top:10%;
	padding-left:15%;
	height:50%;
	width:50%;
}
#thht-img, #xstk-img{
	position: absolute;
	bottom:0;
	right:0;
}


#feedback{
	padding-top:5%;
	padding-bottom:3%;
	background:#F1F1F1;
}

#feedback #one, #feedback #two, #feedback #three{
	padding:2%;
	overflow: hidden;
}

#feedback #comment{
	margin-bottom:20px;
}


#aboutus{
	padding-top:8%;
}

#teacher{
	padding-bottom:8%;
}

#aboutus a{
	color:white;
}

#aboutus a:hover{
	color:rgba(0,0,0,.9);
}


#footer {
	background:#002051;
	padding-left:10%;
}

#dyntgapduck{
	padding:3%;
}

#dyntgapduck #name-web{
	font-size: 100%;
}

#dyntgapduck .list-group-item{
	background:#002051;
	color:white;
	border:none;
	font-size:80%;
	padding:0;
	padding-top:10px;
}

#dyntgapduck a:visited{
	color:white;
}

#dyntgapduck a:hover{
	font-size: 110%;
}


#name-duck{
	padding-left:4%;
}
#name-footer{
	padding-right:8%;
}
#info{
	color:white;
}
#info>p{
	padding-top:3%;
	font-size:130%;
}
#info > p + p{
	font-size:110%;
}
#copyright{
	background: rgba(0,0,0,.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#002051,rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002051,rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002051,rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002051,rgba(0,0,0,1)); /* Standard syntax */
	color:white;
	padding-top:1%;
	padding-bottom:0.5%;
	font-size:70%;
}
#more{
	color:white;
	padding: 2%;
	padding-left:0;
}


.suggestion{
	padding:3%;
}
.suggestion > p{
	font-size: 100%;
	color:white;
	margin:0;
}

.suggestion a:visited{
	color:white;
}

.suggestion a:hover{
	font-size:110%;
}

.suggestion .list-group-item{
	background:#002051;
	color:white;
	border:none;
	margin:0;
	font-size:80%;
	padding:0;
	padding-top:10px;
}
.feed-back{
	padding:3%;
}
.feed-back p{
	font-size: 100%;
	color:white;
	margin:0;
}
.feed-back #contact .btn{
	background:white;
	color:#002051;
	margin-left:2%;
}
.feed-back #contact{
	margin-left:7%;
	margin-top:2%;
}
.feed-back #follow{
	margin-bottom:5%;
}
.feed-back form{
	margin-left:7%;
	margin-top:4%;
	margin-bottom:2%;
}
.feed-back form button{
	border-radius:0;
	background:#0F66A6;
	color:white;
}

.feed-back input{
	border-radius:0px;
	font-size:80%;
}

.hide-teacher{
	opacity:0.3;
}

.active-teacher{
	opacity:1;
}

.hide-teacher img{
	width:80%;
}

.active-teacher img{
	width:100%;
}